.amount {
  display: flex;
  align-items: center;
  gap: 10rem;

  &__minus, &__plus {
    font-size: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 27rem;
    height: 27rem;
    border: 1rem solid $accent;
    border-radius: 50rem;
  }

  &__curr-quantity {
    font-size: 16rem;
  }
}