.reviews {
  position: relative;
  overflow: hidden;
  padding-top: 54rem;
  padding-bottom: 125rem;
  background: linear-gradient(46deg, #964BFF 0%, #722AD8 100%);
  &::before {
    content: '';
    position: absolute;
    top: 30rem;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../../../../../../static/images/background/karsten.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .container {
    padding-right: 0;
    padding-left: 17rem;
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__background-img {
    height: 100%;
    margin-top: 184rem;
    margin-left: -431rem;
    object-fit: contain;
  }

  &__container {
    position: relative;
    z-index: 1;
  }

  &__headline {
    margin-bottom: 25rem;
    margin-left: -17rem;
    color: $white;
  }

  .prev-arrow, .next-arrow {
    display: none;
  }

  swiper-container::part(pagination) {
    bottom: -71rem;
  }
}
