@include md {
  .special-offer {

    &__slide {
      display: flex;
      align-items: center;
      height: 272rem;
      padding: 0;
      gap: 70rem;
    }

    &__img-container {
      bottom: -5rem;
      left: 45rem;
      width: 360rem;
    }

    &__information {
      margin-top: -28rem;
      margin-right: 104rem;
      gap: 3rem;
    }

    &__title-item, &__marker, &__duplicate-title {
      font-size: 50rem;
      line-height: 57rem;
      letter-spacing: 0.5rem;
    }

    &__title-item {
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      margin-top: 6rem;
    }

    &__duplicate-title {
      top: 8rem;
    }

    &__text {
      font-size: 11rem;
      max-width: 200rem;
    }
  }
}

@include lg {
  .special-offer {

    &__slide {
      display: flex;
      justify-content: flex-end;
      max-width: 1168rem;
      height: 480rem;
      margin: 0 auto;
      padding: 2rem 0 0;
      gap: 70rem;
    }

    &__img-container {
      bottom: 3rem;
      left: -5rem;
      width: 563rem;
      transform: rotate(357deg);
    }

    &__title-item, &__marker, &__duplicate-title {
      @include h1-title;
    }

    &__title {
      font-size: $h1-size;
    }

    &__duplicate-title {
      text-align: end;
    }

    &__title-item {
      display: flex;
      align-items: flex-end;
      flex-direction: column;
    }

    &__img {
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
    }

    &__information {
      margin-top: -45rem;
      margin-right: 2rem;
      gap: 9rem;
    }

    &__text {
      font-size: $h3-size;
      max-width: 342rem;

      span {
        font-size: 19rem;
      }
    }

    swiper-container::part(pagination) {
      bottom: 38rem;
      gap: 10rem;
    }

    .prev-arrow, .next-arrow {
      top: 50%;
    }

    .prev-arrow {
      left: -83rem;
    }

    .next-arrow {
      right: -72rem;
    }
  }
}