.products-item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: calc(50% - 6rem);
  padding: 15rem 21rem 15rem 16rem;
  border: 1rem solid $light-gray;
  border-radius: $border-radius;
  gap: 18rem;

  &__additions {
    position: absolute;
    top: 14rem;
    left: 17rem;
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 15rem;
  }

  &__discount, &__new {
    padding: 6rem 11rem;
    color: $white;
    border-radius: $border-radius;
    font-size: 14rem;
  }

  &__discount {
    background: $discount;
  }

  &__new {
    background-color: $new;
  }

  &__img-container {
    overflow: hidden;
    width: 100%;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__information {
    display: flex;
    flex-direction: column;
    gap: 13.5rem;
  }

  &__name {
    font-size: $simple-text-size-mobile;
    display: -webkit-box;
    overflow: hidden;
    align-self: stretch;
    flex-shrink: 0;
    width: 100%;
    height: 54rem;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  &__stars-container, &__price-container, &__price-wrapper {
    display: flex;
    align-items: center;
  }

  &__stars-container {
    gap: 15rem;
  }

  &__reviews {
    font-size: 12rem;
  }

  &__price-container {
    justify-content: space-between;
  }

  &__price-wrapper {
    gap: 10rem;
  }

  &__price, &__curr-price {
    font-size: 18rem;
    font-weight: 500;
  }

  &__curr-price {
    color: #FFC805;
  }

  &__prev-price {
    font-size: 12rem;
    color: $dark-gray;
    text-decoration-line: line-through;
  }
  .stars-range__list {
    display: flex;
    gap: 3.5rem;
    img {
      width: 16rem;
    }
  }
}

.in-basket {
  &__btn {
    @include button;
    padding: 12rem 10rem;
    color: $white;
    background-color: $accent;
    font-size: 15rem;
    gap: 5rem;

    img {
      width: 20rem;
      height: 20rem;
    }
  }
}