@include md {
  .reviews {

    &__item {
      padding: 41rem 37rem 47rem 42rem;
      gap: 15rem;
    }

    &__date {
      font-size: 13rem;
    }

    .stars-range__list {
      display: flex;
      gap: 5rem;

      img {
        width: 22rem;
      }
    }
  }
}

@include lg {
  .reviews {

    &__item {
      padding: 42rem;
      gap: 17rem;
    }

    &__link:hover {
      font-weight: 500;
      .reviews__arrow {
        transform: rotate(45deg);
      }
    }
  }
}