.catalog-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-top: 100rem;
  gap: 40rem;

  &__filters {
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: 1rem solid $dark-gray;
  }

  &__filters-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__product-container {
  }
}