@include md {
  .tools {
    gap: 27rem;

    &__basket {
      padding: 8rem 9.5rem;
    }

    &__basket-img {
      padding: 8rem 11.5rem;
    }

    &__basket-counter {
      bottom: 4rem;
      left: 40rem;
    }

    &__basket-price {
      font-size: 15rem;
      font-weight: 500;
      display: block;
    }
  }
}

@include lg {
  .tools {
    gap: 51rem;

    &__profile-img {
      width: 30rem;
      height: 30rem;
    }

    &__basket {
      padding: 8rem 0;
      gap: 13rem;
    }

    &__basket-counter {
      left: 32rem;
    }

    &__basket-img {
      padding: 11rem 11.5rem;
    }

    &__btn-container {
      display: none;
    }

    &__image {
      width: 26rem;
      height: 26rem;
    }
  }
}