.product-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  &__wrapper {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 30rem;
    & > * {
      flex: 1 1 calc(25% - 30px);
      max-width: calc(25% - 30px);
    }
  }
}