@include md {
  .modal-layout {
    &_top {
      padding: 30rem;
    }

    &_bottom {
      padding: 30rem 30rem 40rem;
      flex-direction: row;
      align-items: flex-start;
      gap: 30rem;
    }

    &__title {
      font-size: 36rem;
    }

    &__close-btn {
      width: 47rem;
      height: 47rem;
      svg {
        font-size: 24rem;
      }
    }
  }
}