.header {
  position: absolute;
  z-index: 1001;
  top: 0;
  right: 0;
  left: 0;
  max-width: 1205rem;
  margin: 0 auto;

  &__container, &__tools {
    display: flex;
    align-items: center;
  }

  &__container {
    position: relative;
    justify-content: space-between;
    padding: 13rem 17rem;
    z-index: 1001;
  }

  &__number {
    font-size: $h3-size;
    font-weight: 500;
    display: none;
    white-space: nowrap;
  }
}
