.sidebar {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  left: 0;
  align-items: center;
  width: 100%;
  padding: 0 0 50rem;
  transition: all 1s ease-in-out;
  transform: translateY(-100%);
  border-radius: 0 0 20rem 20rem;
  background-color: $white;

  &.open {
    top: 0;
    transform: translateY(0);
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20rem 16rem;
    border-bottom: 1rem solid $light-gray;
  }

  &__logo {
    font-size: 24rem;
    font-weight: 700;
  }

  &__close-btn {
    @include close-btn;
  }

  &__container {
    padding: 20rem 16rem 60rem;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 35rem;
  }

  &__link {
    font-size: 16rem;
  }

  &__number {
    font-size: $h3-size;
    font-weight: 500;
    padding: 0 16rem;
    white-space: nowrap;
  }

  svg > * {
    color: $accent;
  }
}