.payment-checkout, .shipping-checkout, .contact-checkout {
  display: flex;
  flex-direction: column;
  gap: 30rem;

  &__item {
    display: flex;
    flex-direction: column;
    gap: 15rem;
  }

  &__title {
  }

  &__input {
    @include input;
    padding: 20rem;
  }

  &__submit {
    @include accent-btn;
    padding: 20rem;
  }
}

.payment-checkout, .shipping-checkout {
  &__input-container, &__label {
    display: flex;
    align-items: center;
  }

  &__input-container {
    @include input;
    padding: 15rem;
    gap: 10rem;
  }

  &__label {
    justify-content: space-between;
    width: 100%;
  }
}

.contact-checkout {
  .css-13cymwt-control {
    border: 1rem solid $input;
    border-radius: $border-radius;
  }

  &__inputs-container {
    display: flex;
    align-items: center;
    gap: 20rem;
  }

  &__input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10rem;
  }
}

.payment-checkout {
  &__link {
    color: $accent;
    text-decoration: underline;
  }
}