.payment-checkout, .shipping-checkout, .contact-checkout {
  display: flex;
  flex-direction: column;
  gap: 30rem;

  &__item {
    display: flex;
    flex-direction: column;
    gap: 15rem;
  }

  &__title {
  }

  &__input {
    @include input;
    padding: 20rem;
  }

  &__submit {
    @include accent-btn;
    padding: 20rem;
  }
}

.payment-checkout, .shipping-checkout {
  &__label, &__label-title {
    display: flex;
    align-items: center;
  }

  &__label {
    width: 100%;
    gap: 10rem;
  }

  &__input-container {
    @include input;
    padding: 15rem;
    gap: 10rem;
  }

  &__label-title {
    justify-content: space-between;
    width: 100%;
  }
}

.contact-checkout {
  .css-13cymwt-control {
    border: 1rem solid $input;
    border-radius: $border-radius;
  }

  &__inputs-container {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20rem;
  }

  &__input-container {
    width: 100%;
  }

  &__label {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10rem;
  }

  &__input {
    width: 100%;
  }
&__btn-container {
  display: flex;
  align-items: center;
  gap: 10rem;
}
  &__customer-btn {
    padding: 15rem;
    border: 1rem solid #EEE;
    border-radius: $border-radius;
    background: rgba(255, 255, 255, 0.90);

    &.selected {
      border-color: $accent;
      background-color: $light-purple;
    }
  }
  &__error {
    color: $error;
  }
}

.payment-checkout {
  &__link {
    text-decoration: underline;
    color: $accent;
  }
}