.checkout-container {
  display: grid;
  gap: 30rem;
  grid-template-columns: 3fr 1fr;

  &__steps {
    grid-column: 1/3;
    grid-row: 1/2;
    display: flex;
    gap: 50rem;

    & > *:not(:last-child)::after {
      position: absolute;
      bottom: 15rem;
      left: 30rem;
      padding: 0 20rem;
      content: '';
      margin: 0 5rem;
      border-bottom: 1rem solid $dark-gray;
    }
  }

  &__step {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 30rem;
    height: 30rem;
    border-radius: 50rem;
    border: 1rem solid $dark-gray;
    background-color: $white;
    &.active {
      background-color: $accent;
      border-color: $accent;
      color: $white;
    }
    &.done {
      color: $accent;
      border-color: $accent;
    }
  }

  &__forms {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}