.contact-checkout {
  &__form, &__details,&__address {
    display: flex;
    flex-direction: column;
  }

  &__form {
    gap: 30rem;
  }

  &__title {
  }

  &__details, &__address {
    gap: 15rem;
  }

  &__btn-container {
  }

  &__new-customer-btn {
  }

  &__have-account-btn {
  }

  &__input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10rem;
  }

  &__label {
  }

  &__input {
    width: 100%;
    padding: 20rem;
    border-radius: $border-radius;
    border: 1rem solid $input;
  }

  &__address {
  }

  &__inputs-container {
    display: flex;
    align-items: center;
    gap: 20rem;
  }

  &__submit {
    @include accent-btn;
  }
  .css-13cymwt-control {
    border-radius: $border-radius;
    border: 1rem solid $input;
  }
}