.catalog-page {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 90rem;
  gap: 40rem;

  &__filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    .container {
      margin-top: 30rem;
    }
  }

  &__filters-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 50rem;
  }

  &__product-container {
    width: 100%;
  }
}