.cart-layout {
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  padding-bottom: 20rem;
  transition: transform 1s ease-in-out;
  transform: translateX(100%);
  background-color: $white;

  &.open {
    transform: translateX(0);
  }

  &_top, &__title-wrapper {
    display: flex;
    align-items: center;
  }

  &_top {
    justify-content: space-between;
    padding: 15rem;
    border-bottom: 1rem solid $light-gray;
    gap: 30rem;
  }

  &_center {
    flex-grow: 1;
    overflow-y: scroll;
  }

  &_center, &_bottom {
    display: flex;
    flex-direction: column;
    padding: 15rem;
    gap: 15rem;
  }

  &_bottom {
    border-top: 1rem solid $light-gray;
  }

  &__empty {
    font-size: 16rem;
  }

  &__title-wrapper {
    gap: 10rem;
  }

  &__title-image {
    width: 32rem;
    height: 32rem;
  }

  &__title {
    font-size: 24rem;
    font-weight: 700;
  }

  &__close-btn {
    @include close-btn;
  }

  &__subtotal-title {
    font-size: 16rem;
  }

  &__subtotal-price {
    font-size: 20rem;
    font-weight: 500;
  }

  &__btn-container {
    display: flex;
    gap: 13rem;
  }

  &__shopping-btn, &__buy-btn {
    @include button-mobile;
    width: 100%;
    height: 46rem;
    padding: 10rem 15rem;
  }

  &__shopping-btn {
    @include transparent-btn;
  }

  &__buy-btn {
    @include accent-btn;
  }
}