.popular-products {
  overflow: hidden;
  max-width: 1198rem;
  margin: 0 auto;
  padding-right: 15rem;
  padding-bottom: 55rem;
  padding-left: 15rem;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 33rem 0 44rem;
    gap: 14rem 12rem;
  }

  &__for-pets {
    display: flex;
    justify-content: center;
    gap: 15rem;
  }
}