.special-offer {
  position: relative;
  z-index: 1;
  background: $special-offer-bg;

  .container {
    position: relative;
    padding-left: 0;
  }

  .prev-arrow, .next-arrow {
    display: none;
  }

  swiper-container::part(pagination) {
    bottom: 33rem;
  }
}