.special-offer {
  position: relative;
  z-index: 1;
  background: $special-offer-bg;

  .container {
    position: relative;
    padding-left: 0;
  }

  .prev-arrow, .next-arrow {
    display: none;
  }

  swiper-container::part(pagination) {
    position: absolute;
    top: auto;
    bottom: 33rem;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-50%);
    gap: 24rem;
  }
}