.product-for-pets {
  display: flex;
  gap: 15rem;
  justify-content: center;
  &__btn {
    @include pet-button;
    height: 60rem;
    width: 168rem;
    gap: 12rem;
    padding: 31rem 20rem;
    font-size: 14rem;
  }
  &__text {
    text-align: center;
  }
  .cat-btn {
    border: 1rem solid $cat;
  }

  .dog-btn {
    border: 1rem solid $dog;
  }
}