@include md {
  .banner {
    &::before {
      top: 50rem;
      bottom: 50rem;
    }

    &__main-background {
      bottom: 250rem;
    }

    &__for-pets {
      max-width: 550rem;
      margin: 0 auto;
      padding-bottom: 128rem;
      gap: 52rem 131rem;
    }

    &__title {
      width: 100%;
      max-width: 583rem;
      margin: 174rem auto 59rem;

      &_duplicate {
        font-size: $h1-size;
      }

      &::before, &::after {
        position: absolute;
        content: '';
        background-repeat: no-repeat;
        background-size: 100%;
      }

      &::before {
        top: -160rem;
        left: -67rem;
        width: 191rem;
        transform: rotate(246deg);
      }

      &::after {
        top: -220rem;
        right: -90rem;
        width: 347rem;
        transform: rotate(354deg);
      }
    }

    &__text {
      max-width: fit-content;
      margin: 0;
    }

    &__img {
      bottom: 16%;
    }

    &__image {

      &_cat {
        width: 230%;
        margin-right: -206rem;
        margin-bottom: -218rem;
      }

      &_dog {
        margin-right: -214rem;
        margin-bottom: -321rem;
      }
    }
  }
}

@include lg {
  .banner {

    &__main-background {
      bottom: 50rem;
    }

    &__container {
      padding: 86rem 0 58rem;
    }

    .container {
      padding-right: 15rem;
      padding-left: 15rem;
    }

    &__for-pets {
      display: flex;
      align-items: center;
      max-width: 100%;
      padding-bottom: 114rem;
      gap: 150rem;
    }

    &__title {
      margin: 152rem auto 55rem;

      &::after {
        top: -222rem;
        right: -86rem;
        width: 327rem;
      }
    }

    &__img {
      bottom: 0;
      justify-content: flex-start;
    }

    &__img-container {
      overflow-y: clip;
    }

    &__image {

      &_cat {
        width: 210%;
        margin-right: -203rem;
        margin-bottom: -273rem;

        &:hover {
          scale: 1.2;
        }
      }

      &_dog {
        width: 170%;
        margin-right: -282rem;
        margin-bottom: -299rem;

        &:hover {
          scale: 1.2;
        }
      }
    }

    &__text {
      margin-bottom: 7rem;
    }

    .cat-btn {
      &.hover {
        .for-pets__arrow {
          transform: rotate(-44deg);
        }
      }
    }

    .dog-btn {
      &.hover {
        .for-pets__arrow {
          transform: rotate(44deg);
        }
      }
    }
  }
}