@include md {
  .banner {

    &__main-background {
      bottom: 250rem;
    }

    &__for-pets {
      max-width: 550rem;
      margin: 0 auto;
      padding-bottom: 127rem;
      gap: 52rem 118rem;
    }

    &__title {
      width: 100%;
      max-width: 583rem;
      margin: 174rem auto 55rem;

      &_duplicate {
        font-size: $h1-size;
      }
    }

    &__text {
      max-width: fit-content;
      margin: 0;
    }

    &__img {

      &_top {
        top: 100rem;
        left: 50%;
        width: 100%;
        max-width: 770rem;
        transform: translateX(-50%);
      }

      &_bottom {
        bottom: 41rem;
        align-items: center;
      }
    }

    &__image {

      &_bone {
        width: 351rem;
        margin: 0 5rem 0 auto;
        transform: rotate(354deg);
      }

      &_ball {
        width: 180rem;
        height: 70%;
        margin: 0 auto 0 -3rem;
      }

      &_cat {
        width: 130%;
        max-height: 100%;
        margin-top: 40rem;
        margin-left: 5rem;
        transform: rotate(351deg);
      }

      &_dog {
        width: 200%;
        max-height: 100%;
        margin-left: -225rem;
        transform: rotate(7deg);
      }
    }
  }
}

@include lg {
  .banner {

    &__main-background {
      bottom: 50rem;
    }

    &__container {
      padding: 86rem 0 60rem;
    }

    .container {
      padding-right: 15rem;
      padding-left: 15rem;
    }

    &__for-pets {
      display: flex;
      align-items: center;
      max-width: 100%;
      padding-bottom: 117rem;
      gap: 116rem;
    }

    &__title {
      margin: 152rem auto 55rem;
    }

    &__img-container {
      &_cat, &_dog {
        top: auto;
        bottom: 0;
        display: flex;
      }
    }

    &__image {

      &_ball {
        width: 192rem;
        transform: rotate(358deg);
      }

      &_bone {
        width: 330rem;
        margin: -13rem 7rem 0 auto;
      }

      &_cat {
        margin-left: -162rem;

        &:hover {
          scale: 1.1;
        }
      }

      &_dog {
        margin-bottom: 87rem;
        margin-left: -112rem;
        scale: 1.2;

        &:hover {
          scale: 1.3;
        }
      }
    }

    &__img {
      &_top {
        top: 75rem;
      }

      &_bottom {
        bottom: -43rem;
      }
    }

    &__text {
      margin-bottom: 7rem;
    }
  }
}