@include md {
  .popular-products {
    padding-bottom: 81rem;

    &__list {
      display: flex;
      flex-wrap: nowrap;
      margin: 40rem 0 49rem;
      gap: 14rem 15rem;
    }
  }
}

@include lg {
  .popular-products {
    padding-bottom: 130rem;

    &__list {
      margin: 40rem 0 54rem;
      gap: 30rem;
    }

    &__for-pets {
      gap: 30rem;
    }
  }
}