.popular-products {
  padding-right: 15rem;
  padding-left: 15rem;
  max-width: 1198rem;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 55rem;

  &__list {
    display: flex;
    flex-wrap: wrap;
    gap: 14rem 12rem;
    margin: 33rem 0 44rem;
    justify-content: space-between;
  }
  &__for-pets {
    display: flex;
    gap: 15rem;
    justify-content: center;
  }
}

.headline {
}