@import "additional/variables";
@import "additional/fonts";
@import "additional/reset";
@import "additional/mixins";
@import "components/home/aboutUs/about-us";
@import "components/home/aboutUs/media";
@import "components/base/arrows/arrow";
@import "components/base/arrows/media";
@import "components/home/banner/banner";
@import "components/home/banner/media";
@import "components/base/footer/cards/cards";
@import "components/base/footer/cards/media";
@import "components/base/footer/informationPanel/information-panel";
@import "components/base/footer/informationPanel/media";
@import "components/base/footer/links/links";
@import "components/base/footer/links/media";
@import "components/base/header/logo/logo";
@import "components/base/header/logo/media";
@import "components/base/header/navbar/navbar";
@import "components/base/header/navbar/media";
@import "components/base/header/sidebar/sidebar";
@import "components/base/header/sidebar/media";
@import "components/base/footer/subscribe/subscribe";
@import "components/base/footer/subscribe/media";
@import "components/base/header/tools/tools";
@import "components/base/header/tools/media";
@import "components/base/footer/footer";
@import "components/base/footer/media";
@import "components/base/header/header";
@import "components/base/header/media";
@import "components/home/benefits/benefits";
@import "components/home/benefits/media";
@import "components/base/buttons/forPetLongBtn/for-pet-long-btn";
@import "components/base/buttons/forPetLongBtn/media";
@import "components/base/buttons/forPetShortBtn/for-pet-short-btn";
@import "components/base/buttons/forPetShortBtn/media";
@import "components/home/popularProducts/popular-products";
@import "components/home/popularProducts/media";
@import "components/productItem/product-item";
@import "components/productItem/media";
@import "components/home/reviews/reviews";
@import "components/home/reviews/media";
@import "components/home/reviewsItem/reviews-item";
@import "components/home/reviewsItem/media";
@import "components/home/specialOffer/special-offer";
@import "components/home/specialOffer/media";
@import "components/home/specialOfferItem/special-offer-item";
@import "components/home/specialOfferItem/media";
@import "components/modal/modalLayout/modal-layout";
@import "components/modal/modalLayout/media";
@import "components/modal/auth/auth";
@import "components/modal/auth/media";
@import "components/modal/cartModal/cart-modal";
@import "components/modal/cartModal/media";
@import "components/modal/cartModal/cartItem/cart-item";
@import "components/modal/cartModal/cartItem/media";
@import "components/catalog/categoryFilter/category-filter";
@import "components/catalog/categoryFilter/media";
@import "components/catalog/petsFilter/pets-filter";
@import "components/catalog/petsFilter/media";
@import "components/catalog/productList/product-list";
@import "components/catalog/productList/media";
@import "components/catalog/sortBy/sort-by";
@import "components/catalog/sortBy/media";
@import "pages/homePage/home-page";
@import "pages/homePage/media";
@import "pages/catalogPage/catalog-page";
@import "pages/catalogPage/media";

.paw-shop {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

.content {
  grid-column: 1/2;
  grid-row: 2/3;
}

h1 {
  @include h1-title-mobile;
}

h2 {
  @include h2-title-mobile;
}

h3 {
  @include h3-title-mobile;
}


.container {
  max-width: 1300rem;
  margin: 0 auto;
  padding-right: 15rem;
  padding-left: 15rem;
}

.popular-products, .about-us {
  padding-top: 53rem;
}

.cat, .dog {
  font-weight: 500;
  text-transform: uppercase;
}

.cat {
  color: $cat;
}

.dog {
  color: $dog;
}

.headline {
  text-align: center;
}

.black-background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $transparent-white;
  z-index: 1000;
  display: none;
}

@include md {
  html,
  body {
    font-size: $text-size-tablet;
  }

  * {
    font-size: $simple-text-size;
  }

  .popular-products, .about-us {
    padding-top: 80rem;
  }

  h2 {
    @include h2-title;
    letter-spacing: -0.5px;
  }
  h3 {
    @include h3-title;
  }

}

@include lg {
  html,
  body {
    font-size: $text-size-desktop;
  }
  .popular-products, .about-us {
    padding-top: 141rem;
  }
}