@include md {
  .links {
    width: fit-content;

    &__list {
      height: 200rem;
      padding: 8rem 0;
      gap: 23rem 107rem;
    }
  }
}

@include lg {
  .links {
      margin-right: 56rem;

    &__list {
      align-content: flex-end;
    }
  }
}