@include md {
  .about-us {
    padding-bottom: 40rem;

    &__list {
      margin: 32rem 0;
    }

    &__item {
      &_dog, &_cat {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        gap: 24rem;
      }

      &_cat {
        .about-us__img-container {
          justify-content: flex-start;
          margin-top: 25rem;
        }
      }
    }

    &__img-container, &__text-wrapper {
      width: calc(50% - 15rem);
    }

    &__text-wrapper {
      margin-top: 25rem;
    }

    &__img-container {
      overflow: visible;
      justify-content: flex-end;
    }

    &__image {
      width: auto;
      height: 100%;
      scale: 1;
    }

    &__title {
      font-size: 20rem;

      b {
        font-size: 20rem;
      }
    }
  }
}

@include lg {
  .about-us {
    padding-bottom: 94rem;

    .container {
      max-width: 1366rem;
      padding-right: 6rem;
    }

    &__list {
      margin: 51rem 0;
      gap: 71rem;
    }

    &__item {
      &_dog, &_cat {
        gap: 45rem;
      }

      &_cat {
        .about-us__img-container {
          margin-top: 0;
          margin-left: 9rem;
        }

        .about-us__text-wrapper {
          margin-top: 47rem;
          margin-left: 83rem;
        }
      }
    }

    &__img-container {
      width: 46%;
    }

    &__image {
      width: 100%;
      scale: 1.1;
    }

    &__text-wrapper {
      width: 43%;
      margin-top: 56rem;
      margin-left: 50rem;
      gap: 20rem;
    }
  }
}