@include md {
  .special-offer {

    .prev-arrow, .next-arrow {
      display: flex;
    }

    .prev-arrow {
      left: 16rem;
    }

    .next-arrow {
      right: 17rem;
    }

    swiper-container::part(pagination) {
      bottom: 21rem;
    }
  }
}

@include lg {
  .special-offer {

    .container {
      padding-right: 15rem;
      padding-left: 15rem;
    }
  }
}