.footer {
  background: $footer-bg;

  &__top, &__bottom {
    display: flex;
    flex-direction: column;
    gap: 38rem;
  }

  &__body {
    display: flex;
    flex-direction: column;
    max-width: 1210rem;
    margin: 0 auto;
    padding: 48rem 18rem 45rem;
    gap: 35rem;
  }

  &__top {
    padding-bottom: 37rem;
    border-bottom: 1rem solid rgba(255, 255, 255, 0.2);
  }

  &__copyright {
    font-size: 13rem;
    text-align: center;
    opacity: 0.5;
    color: $white;
  }
}
